<h1>Add user</h1>
<!-- HTML表单 -->
<form action="/users/create" method="POST">
    <label>username</label>
    <input type="text" name="username">
    <br><br>
    <label>nickname:</label>
    <input type="text" name="nickname">
    <br><br>
    <label>role:</label>
    <input type="text" name="role">
    <br><br>
    <label>部门:</label>
    <input type="text" name="school_class">
    <br><br>
    <label>科室:</label>
    <input type="text" name="school_grade">
    <br><br>
    <label> password:</label>
    <input type="text" name="password">
    <br><br>
    <input type="submit" value="create">
</form>