<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>事件详情</title>

    <!-- Bootstrap core CSS -->
    <style type="text/css">
#tbl_div div {
  visibility:hidden;
    display:none;
}

div[name*="title"] {
/*  background: #ffff00;*/
  font-weight: bold;
  font-size: 150%;
  text-align: center;
}

div[class*="release_year"] {
/*  background: #ffff00;*/
  color:blue;
  font-weight: bold;
  font-size: 90%;
  text-align: center;
}



        .bg_rgba {
  background-image: url(/static/images/bg.png);
  background-color: rgba(255, 255, 255, 0.786);
  background-blend-mode: overlay;

}



    </style>
    <link rel='stylesheet' href='/static/bootstrap-4.5.2-dist/css/bootstrap.min.css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>


<body class="bg_rgba">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" 
  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

     <a class="nav-link" href="/home/1">Home <span class="sr-only">(current)</span></a>


      </li>

      <li class="nav-item active">
        <form class="form-inline my-2 my-lg-0 navbar-right" action="/home" method="POST">

                <div class="form-group">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="text" name="keyword" placeholder="search" class="form-control" autofocus>&nbsp;
                </div>
          
              <input type="submit" value="Search" class="btn btn-success">
        </form>
      </li>

      <li class="nav-item active">

      </li>


    </ul>

  </div>
</nav>



<!-- <h3><a href="/home">< home</a></h3> -->
<h1>&nbsp;&nbsp;&nbsp;&nbsp; 学习材料管理</h1>
<!-- Jinja模板语法 -->

<h4><a href="/add_ppt">&nbsp;&nbsp;&nbsp;&nbsp; 添加高级学习材料(带文档/多媒体)</a></h4>
<br/>
<h4><a href="/blogs/create">&nbsp;&nbsp;&nbsp;&nbsp; 添加学习材料（文本)</a></h4>

<hr/><hr/>
{% if blogs %}
    {% for blog in blogs%}
        <h5><a href="/blogs/{{blog.id}}"> &nbsp;&nbsp;&nbsp;&nbsp;{{blog.title}}</a></h5>
        <hr/>
    {% endfor %}
{% else %}
    <p>no doc, let's create doc~</p>
    <a href="/blogs/create">to create doc</a>
{% endif %}

  </body>
</html>