<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>用户详情</title>

    <!-- Bootstrap core CSS -->
    <style type="text/css">
#tbl_div div {
  visibility:hidden;
    display:none;
}

div[name*="title"] {
/*  background: #ffff00;*/
  font-weight: bold;
  font-size: 150%;
  text-align: center;
}

div[class*="release_year"] {
/*  background: #ffff00;*/
  color:blue;
  font-weight: bold;
  font-size: 90%;
  text-align: center;
}



    </style>
    <link rel='stylesheet' href='/static/bootstrap-4.5.2-dist/css/bootstrap.min.css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

<bddy>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" 
  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
         {% if session['isadmin'] %}
        <a class="nav-link" href="/users">back to manangment <span class="sr-only">(current)</span></a>
         {% else %}
     <a class="nav-link" href="/home/1">Home <span class="sr-only">(current)</span></a>
       {% endif %}

      </li>

      <li class="nav-item active">
        <form class="form-inline my-2 my-lg-0 navbar-right" action="/home" method="POST">

                <div class="form-group">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="text" name="keyword" placeholder="search" class="form-control" autofocus>&nbsp;
                </div>
          
              <input type="submit" value="Search" class="btn btn-success">
        </form>
      </li>

      <li class="nav-item active">

      </li>


    </ul>

  </div>
</nav>

<!--  {% if session['isadmin'] %}
<h3><a href="/users">< doc list</a></h3>
 {% else %}
<h3><a href="/home">< home</a></h3>
   {% endif %} -->

<h1>用户详情</h1>
<br/>
<div>
     {% if session['isadmin'] %}
    <a href="/profiles/update/{{user.id}}" id="{{user.id}}">更新</a>
     {% endif %}

    <p>email/phone: {{user.username}}</p>
    <p>姓名:{{user.nickname}}</p>
    <p>部门:{{user.role}}</p>
    <p>科室:{{user.school_grade}}</p>
    <p>password:{{user.password}}</p>


<br/>

   <figure>
<img src="/static/images/app_data/{{user.id // 2 }}.png" class="img-fluid" style="height:250px;width:500px;">
        </figure>
<br/>


    <hr/>

     {% if session['isadmin'] %}
    <a href="#" class="btn-delete" id="{{user.id}}">删除</a>
     {% endif %}
</div>

<!-- 先引入jquery，下面要用到-->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!--发送ajax请求删除课程 -->
<script type="text/javascript">
    $('a.btn-delete').on('click',function(evt){
        // 通知浏览器不要执行与事件关联的默认动作
        evt.preventDefault();
        // 获取课程ID
        var userid = $(this).attr('id');
        $.ajax({
            // 请求URL
            url: "/users/" + userid,
            // 请求方法类型
            type: "DELETE",
            contentType:"application/json",
            // 删除成功响应函数
            success:function(resp){
                // 在当前页面打开课程列表页面
                window.open("/users","_self");
            },
            // 删除失败响应函数
            error:function(resp){
                // 删除失败，给出错误提示
                alert("delete doc fail！详情：" + resp.message);
            }
        })
    });
</script>

  </body>
</html>